.primary {
  background-color: blue;
}

.secondary {
  background-color: red;
}

.btn {
  text-align: center;
  width: 130px;
  padding: 1rem 2.5rem;
  margin: 0.5rem;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  filter: brightness(105%);
  cursor: pointer;
}

.btn:active {
  filter: brightness(98%);
}
