@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');

body {
  margin: 0 auto;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

main {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

.buttons {
  margin: 1rem auto;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
